<div class="center-table">
  <div class="row" style=" margin-top: 1%;margin-left: 1%">
    <div class="col-md-6">
      <form>
        <div class="form-group form-inline">
        Caută: <input class="form-control ml-2" type="text" [formControl]="filter"/>
        </div>
      </form>
    </div>
    <div class="col-md-6" style="text-align: right">
      <button type="button" class="btn add-button" (click)="open(addAccount, false)">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>

  <ng-template #addAccount let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-add-title">Adăugare Cont</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="accountForm">
        <label style="margin-top: 2%">Nume<span style="color: red">*</span></label>
        <input class="form-control" formControlName="lastName" placeholder="Nume">
        <label style="margin-top: 2%">Prenume<span style="color: red">*</span></label>
        <input class="form-control" formControlName="firstName" placeholder="Prenume">
        <label style="margin-top: 2%">CNP<span style="color: red">*</span></label>
        <input class="form-control" formControlName="cnp" placeholder="CNP">
        <label style="margin-top: 2%">Email<span style="color: red">*</span></label>
        <input class="form-control" formControlName="email" placeholder="Email">
        <label style="margin-top: 2%">Telefon<span style="color: red">*</span></label>
        <input class="form-control" formControlName="phone" placeholder="Telefon">
      </form>
    </div>
    <div class="modal-footer">
      <button [disabled]="accountForm.invalid" type="button" class="btn btn-outline-primary" (click)="modal.close(); createAccount(accountForm.value)">Salvare</button>
    </div>
  </ng-template>

  <ng-template #editAccount let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-edit-title">Editare Cont</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="accountForm">
        <label style="margin-top: 2%">Nume</label>
        <input class="form-control" formControlName="lastName" placeholder="Nume">
        <label style="margin-top: 2%">Prenume</label>
        <input class="form-control" formControlName="firstName" placeholder="Prenume">
        <label style="margin-top: 2%">CNP</label>
        <input class="form-control" formControlName="cnp" placeholder="CNP">
        <label style="margin-top: 2%">Email</label>
        <input class="form-control" formControlName="email" placeholder="Email">
        <label style="margin-top: 2%">Telefon</label>
        <input class="form-control" formControlName="phone" placeholder="Telefon">
      </form>
    </div>
    <div class="modal-footer">
      <button [disabled]="accountForm.invalid" type="button" class="btn btn-outline-primary" (click)="modal.close(); updateAccount(accountForm.value)">Salvare</button>
    </div>
  </ng-template>

  <ng-template #changePassword let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-change-title">Schimbare parolă</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="changePasswordForm">
        <label style="margin-top: 2%">Parolă nouă<span style="color: red">*</span></label>
        <input type="password" class="form-control" formControlName="newPassword" placeholder="Parolă nouă">
        <label style="margin-top: 2%">Repetare parolă nouă<span style="color: red">*</span></label>
        <input type="password" class="form-control" formControlName="secondNewPassword" placeholder="Repetare parolă nouă">
      </form>
    </div>
    <div class="modal-footer">
      <button [disabled]="changePasswordForm.invalid" type="button" class="btn btn-outline-primary" (click)="modal.close(); changeAccountPassword(changePasswordForm.value)">Salvare</button>
    </div>
  </ng-template>

  <ng-template #addStudy let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-add-study-title">Adăugare Studiu</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <app-add-study></app-add-study>
    </div>
  </ng-template>

  <ng-template #activeStudy let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-delete-study-title">Studii Active</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <app-active-study></app-active-study>
    </div>
  </ng-template>

  <ng-template #deleteAccount let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-delete-title">Ștergere Cont</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>Ești sigur că dorești să ștergi acest cont?</strong></p>
      <p>Toate informațiile asociate cu acesta vor fi șterse definitiv.
        <span class="text-danger">Această operațiune nu poate fi anulată.</span></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Anulare</button>
      <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close(); deleteAccountById()">Da</button>
    </div>
  </ng-template>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Nume</th>
    <th>Prenume</th>
    <th>CNP</th>
    <th>Email</th>
    <th>Telefon</th>
    <th>Studii Active</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let account of filteredAccounts$ | async">
    <td class="align-middle">{{account.lastName}}</td>
    <td class="align-middle">{{account.firstName}}</td>
    <td class="align-middle">{{account.cnp}}</td>
    <td class="align-middle">{{account.email}}</td>
    <td class="align-middle">{{account.phone}}</td>
    <td class="align-middle">
      <p  *ngFor="let study of account.activeStudies">{{study.abbreviation}}</p>
    </td>
    <td>
      <div class="dropdown">
        <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-ellipsis-h" style="color: dodgerblue"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="open(editAccount, false); setId(account.id); setForm(account)">Editează cont</a>
          <a class="dropdown-item" (click)="open(changePassword, false); setId(account.id)">Schimbare parolă</a>
          <a *ngIf="account.lastName != 'Taxe UO'" class="dropdown-item" (click)="open(addStudy, true); setAccountId(account.id); setAccountRequest(account)">Adăugare studiu</a>
          <a *ngIf="account.lastName != 'Taxe UO'" class="dropdown-item" (click)="open(activeStudy, true); setAccount(account)">Studii active</a>
          <a *ngIf="account.lastName != 'Taxe UO'" class="dropdown-item" (click)="open(deleteAccount, false); setId(account.id)">Șterge cont</a>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
</div>
