table{
  table-layout: fixed;
  word-wrap: break-word;
}

th:not(:first-child) {
  text-align: center;
}

td:not(:first-child) {
  text-align: center;
}

.center-table {
  width: 80%;
  margin: 0 auto;
}

.add-button {
  color: dodgerblue;
  border: solid;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin-right: 3%;
}
